.idea
.vscode

.DS_Store

coolfacts/exercise0/exercise0
coolfacts/exercise1/exercise1
coolfacts/exercise2/exercise2
coolfacts/exercise3/exercise3
coolfacts/exercise4/exercise4
coolfacts/exercise5/exercise5
coolfacts/exercise6/exercise6
coolfacts/exercise7/exercise7
coolfacts/exercise8/exercise8

coolfacts/main