/* This file is not magically included anywhere*/
body {
    font-family: Helvetica, Arial, sans-serif;
    color: #26323d;
    max-width: 720px;
    margin: auto;
}

article {
    border: 1px solid #0095c4;
    border-radius: 4px;
    max-width: 320px;
    text-align: center;
}

article h3 {
    font-weight: normal;
}

article a {
    color: #26323d;
}

article a:hover {
    color: #f16957;
}

article img {
    border-radius: 4px;
}

table input[type="submit"] {
    font-size: unset;
    width: 100%;
    color: #26323d;
    border: 1px solid #26323d;
    border-radius: 4px;
}

table input[type="submit"]:hover {
    color: white;
    background-color: #f16957;
    border: 1px solid #f16957;
}
